<section class="full-width form-section">
  <div class="container">
    <div class="row">
      <form
        [formGroup]="filterForm"
        (ngSubmit)="onSubmit()"
        class="full-width"
      >
        <div class="select-option auto-width">
          <span>Role</span>
          <select
            class="form-control"
            formControlName="filteredRole"
            (change)="changeFilteredRole($event)"
          >
            <option *ngFor="let role of filterRole">{{ role }}</option>
          </select>
        </div>
        <div class="search-here auto-width">
          <div class="form-group">
            <input
              type="search"
              class="form-control"
              id="exampleInputSearch"
              placeholder="Search"
              [(ngModel)]="searchQuerry"
              formControlName="search"
            />
          </div>
          <button type="submit" class="btn search-btn">Search</button>
        </div>
      </form>
    </div>
  </div>
</section>

<section *ngIf="newRow">
  <div class="card ml-5 mb-5 p-5" style="width: 55rem;">
    <div class="card-body">
      <div class="card-title">
        Add New User
      </div>
      <div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="firstName">First Name:</label>
                <input
                  type="text"
                  formControlName="firstName"
                  [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
                  class="form-control"
                  id="firstName"
                />
                <div
                  *ngIf="submitted && f.firstName.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.firstName.errors.required">
                    First name is required
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input
                  type="text"
                  formControlName="lastName"
                  [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
                  class="form-control"
                  id="lastName"
                />
                <div
                  *ngIf="submitted && f.lastName.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.lastName.errors.required">
                    Last name is required
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="email">Email address:</label>
                <input
                  type="email"
                  formControlName="email"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                  class="form-control"
                  id="email"
                />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.email">
                    Email must be a valid email address
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="email">Select Role:</label>
                <div class="select-option auto-width">
                  <select
                    class="form-control"
                    formControlName="role"
                    [ngClass]="{ 'is-invalid': submitted && f.role.errors }"
                    (change)="changeRole($event)"
                  >
                    <option>Select Role</option>
                    <option *ngFor="let role of userRole">{{ role }}</option>
                  </select>
                  <div
                    *ngIf="submitted && f.role.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.role.errors.required">Role is required</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="submitButton">
            <button class="btn btn-secondary btn-lg btn-block">Submit</button>
          </div>          
        </form>
      </div>
    </div>
  </div>
  </section>
 


 
<section *ngIf="editExitingRow">
  <div class="card ml-5 mb-5 p-5" style="width: 55rem;">
    <div class="card-body">
      <div class="card-title">
        Edit Exitsting User
      </div>
      <div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmitEditUser()">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="firstName">First Name:</label>
                <input
                  type="text"
                  formControlName="firstName"
                  [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
                  class="form-control"
                  id="firstName"
                />
                <div
                  *ngIf="submitted && f.firstName.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.firstName.errors.required">
                    First name is required
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input
                  type="text"
                  formControlName="lastName"
                  [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
                  class="form-control"
                  id="lastName"
                />
                <div
                  *ngIf="submitted && f.lastName.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.lastName.errors.required">
                    Last name is required
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="email">Email address:</label>
                <input
                  type="email"
                  formControlName="email"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                  class="form-control"
                  id="email"
                />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.email">
                    Email must be a valid email address
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="email">Select Role:</label>
                <div class="select-option auto-width">
                  <select
                    class="form-control"
                    formControlName="role"
                    [ngClass]="{ 'is-invalid': submitted && f.role.errors }"
                    (change)="changeRole($event)"
                  >
                    <option>Select Role</option>
                    <option *ngFor="let role of userRole">{{ role }}</option>
                  </select>
                  <div
                    *ngIf="submitted && f.role.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.role.errors.required">Role is required</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="submitButton">
            <button class="btn btn-secondary btn-lg btn-block">Submit</button>
          </div>  
        </form>
      </div>
    </div>
  </div>
  </section>
    


<section class="full-width task-section">
  <div class="container">
    <div class="row">
      <div class="full-width table-responsive">
        <table class="table full-width">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Role</th>
              <th>
                <button class="btn btn-primary" (click)="addRow()">
                  Add new rows
                </button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of filterData  | filter:searchQuerry">
              <td>{{ user.firstName }}</td>
              <td>{{ user.lastName }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.role }}</td>
              <td>
                <a href="javascript:void(0)" (click)="editedUserId(user)" (click)="editRow()" class="edit btn box-shadow1">
                  <i class="fas fa-edit"></i>
                </a>
                <!-- <a href="javascript:void(0)" class="delete btn box-shadow1">
                  <i class="far fa-trash"></i>
                </a> -->
                <button (click)="deleteUser(user)" class="delete btn box-shadow1"><i class="far fa-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
